html {
  font-family: ‘Inter’, sans-serif;
  color: #c5b4b4;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;

  --header-height: 77px;
}

/* #region header */
.header {
  box-sizing: border-box;
  /* padding: 0px 92px 0px 92px;  */
  position: fixed;
  z-index: 100;
  left: 92px;
  right: 92px;
  top: 0;
  height: var(--header-height);
  text-align: center;  
  background: #fff;
  
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;  
}

.header__menu__point {
  color: #7D7D7D;
}

.header__signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
/* #endregion */

.button {
  background-color: #5d78ff;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* #region main */
.main {  
  padding: calc(30px + var(--header-height)) 92px;  
}

.main__content {  
  background-color: #e2f2ff;
  height: 530px;
  padding: 80px 50px;
  border-radius: 10px;
  position: relative;
}

.main__content__text {
  display: flexbox;
  justify-content: space-between;
  width: 665px;
  height: 312px;  
  position: relative; 
  overflow-y: hidden;
  max-width: calc(100vw - 724px);  
}

.main__content_grey {
  padding-top: 6px; 
  font-size: 14px;
  color: #909090;
}

.main__content__button {
  position: absolute;
  bottom: 0; 
}

.main__content_pictures {
  position: absolute;
  top: 53px;
  right: 64px;
}

.main__content__picture {
  position: relative;
}

.main__content__picture1 {
  position: absolute;
  top: 0px;
  right: 300px;  
}

.main__content__picture2 {
  position: absolute;
  top: 100px;
  right: 0px;
}

.main__content__picture3 {
  position: absolute;
  top: 270px;
  right: 350px;
}

.main__content__enterprises, .main__content__logo {
  position: absolute; 
  bottom: 0;
}

.main__content__enterprises {
  padding-top: 60px;
}

.main__content__logo {
  display: flex;
  align-items:baseline;
  gap: 24px;
  padding-bottom: 20px;
}
/* #endregion */

/* #region slider */
.slider-header-section {
  display: flex;
  direction: row;
  justify-content: space-between;
  padding: 0 92px;
}

.slider-header {  
  color: grey;
}

.slider-section {
  padding-left: 92px;
}

.swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.swiper-slide {
  width: 200px;  
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-size: 18px;
  background-color: #f8f8fa;
  padding: 20px;
  border-radius: 8px;
  line-height: 1.5;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.swiper-slide>div {
  position: relative;
  z-index: 3;
}

.swiper-slide .title {
  font-size: 16px;
  font-weight: bold;
}

.swiper-slide .content {
  font-size: 14px;  
}

.swiper-slide .index {
  position: absolute;
  right: 0;
  line-height: 1;
  bottom: -12px;
  color: #ffffff;
  font-size: 34px;
}

.swiper-slide:after {
  content: '';
  width: 70px;  
  height: 70px;  
  background-color: #e3eeff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-top-left-radius: 70px;  
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
}
/* #endregion */
